@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans: 'Inter', sans-serif;
    --color-text: var(--text-color);
    --color-subtext: var(--subtext-color);
    --color-price: #ff0d0d;

    --color-bg: var(--background);
    --color-nav: #2b3049;
    --color-nm: #17c14f;

    --color-card-bg: var(--card-bg);
}
@layer base {
    /* applies default values to the whole website */
    * {
    }

    h1 {
        @apply text-text text-2xl font-bold;
    }
}

:root {
    /* Light Theme */
    /* Text mods */
    --text-color: #2b3049;
    --subtext-color: #596185;

    /* Color mods */
    --background: #ededed;

    /* Card mods */
    --card-bg: #ffffff;
}

.dark {
    /* Dark Theme */
    /* Text mods */
    --text-color: #ededed;
    --subtext-color: #c1c1c1;

    /* Color mods */
    --background: #4e5155;

    /* Card mods */
    --card-bg: #3c3c3c;
}
