@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans: 'Inter', sans-serif;
    --text-color: var(--text-color);

    --color-bg: var(--background);
    --color-nav: var(--nav);
}
@layer base {
    /* applies default values to the whole website */
    * {
    }

    h1 {
        @apply text-2xl font-bold;
    }
}

:root {
    /* Light Theme */
    /* Text mods */
    --text-color: #2b3049;

    /* Color mods */
    --background: #ededed;
    --nav: #2b3049;
}

.dark {
    /* Dark Theme */
    /* Text mods */
    --text-color: #ededed;

    /* Color mods */
    --background: #4e5155;
    --nav: #2b3049;
}
